<h1>Welcome, <%= @user.name%>!</h1>

<%= render '/shared/messages' %>

<p>My Stuff</p>

<ul>
  <% @user.items.each do |item| %>
  <li>
  <%= link_to item.name, item_path(item) %>
  </li>
  <% end %>
</ul>


<p>Stuff I Borrowed</p>

<P>Wishlist</p>
  <ul>
    <% @user.wishlist_items.each do |wishlist_item| %>
    <li>
    <%= link_to wishlist_item.name, wishlist_item_path(wishlist_item) %>
    </li>
    <% end %>
  </ul>



<%= link_to "User Settings", settings_path(@user) %>
