<h1>Welcome, <%= @current_user.name%>!</h1>

<%= render '/shared/messages' %>

<p>My Stuff</p>
<%= link_to "Add item you own", new_item_path %>
<%= render 'shared/items' %>


<p>Stuff I'm Borrowing</p>
<%= render 'shared/current_loans'%>

<p>Stuff I Borrowed</p>
<%=render '/shared/past_loans'%>

<P>Wishlist</p>
<%= render '/shared/wishlist' %>
<%= link_to "Add item to wishlist", new_wishlist_item_path %>


<p>
<%= link_to "User Settings", settings_path %>
</p>
