<h1>Welcome, <%= @user.name%>!</h1>

<%= render '/shared/messages' %>

<p>My Stuff</p>
<%= link_to "Add item you own", new_item_path %>
<ul>
  <% @user.items.each do |item| %>
    <li>
    <%= link_to item.name, item_path(item) %>
    </li>
  <% end %>
</ul>


<p>Stuff I'm Borrowing</p>
<% if @user.current_loans %>
  <ul>
    <% @user.current_loans.each do |loan| %>
    <li>
      <%= link_to loan.item.name, item_path(loan.item) %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>Not currently borrowing anything.</p>
<% end %>

<p>Stuff I Borrowed</p>
<%if @user.past_loans %>
  <ul>
    <% @user.past_loans.each do |loan| %>
    <li>
      <%= link_to loan.item.name, item_path(loan.item) %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>You have never borrowed anything.</p>
<% end %>

<P>Wishlist</p>
<%= link_to "Add item to wishlist", new_wishlist_item_path %>
<% if !@user.wishlist_items.empty? %>
  <ul>
    <% @user.wishlist_items.each do |wishlist_item| %>
    <li>
    <%= link_to wishlist_item.name, wishlist_item_path(wishlist_item) %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p> No items on your wishlist.</p>
<% end %> 



<%= link_to "User Settings", settings_path(@user) %>
