<h1> <%= "#{@current_user.name}'s settings" %> </h1>

<%= render '/shared/messages' %>

<%= form_for @current_user do |f| %>
    <p>
        <%= f.label :password, "Enter a new password" %>
        <%= f.password_field :password %>
    </p>
    <p>
        Confirm Password: 
        <%= f.password_field :password_confirmation %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= button_to 'Delete Account', login_path, method: :delete, data: {:confirm => "Are you sure you want to delete account?"} %>
