<h1><%= @user.name %> </h1>
<%= button_to "Add Friend", create_friendship_path, method: :post %>

<p><%= @user.name %>'s Stuff</p>
<%= render 'shared/items'%>

<p> Current loans: </p>
<%= render 'shared/current_loans' %>

<p> Past loans: </p> 
<%= render 'shared/past_loans' %>
