<h1><%= @user.name %> </h1>

<p><%= @user.name %>'s Stuff</p>
<%= render 'shared/items'%>

<p> Current loans: </p>
<%= render 'shared/current_loans' %>

<p> Past loans: </p> 
<%= render 'shared/past_loans' %>
