<h2><%= @user.name%>'s Profile </h2>
<% if @current_user.friends.include?(@user) %>
  <p> You are already friends with <%= @user.name %>. </p>
  <%= button_to "Remove Friend", destroy_friendship_path(@user), method: :delete %>
<% else %>
  <%= button_to "Add Friend", create_friendship_path, method: :post %>
<% end %> 

<h3><%= @user.name %>'s Things</h3>
<%= render 'shared/items'%>

<h3>Current Loans</h3>
<%= render 'shared/current_loans' %>

<h3>Previous Loans </h3>
<%= render 'shared/past_loans' %>
