<% if @user.current_loans != [] %>
  <ul class = "items">
    <% @user.current_loans.each do |loan| %>
      <li class = "item">
        <%= link_to image_tag(loan.item.image, class: "image"), item_path(loan.item) %>
        <br>
        <%= link_to loan.item.name, item_path(loan.item) %>
        <br>
        Belongs to: <%= loan.item.user.name %>
        <br>
        Due Date: <%= loan.duedate %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= @user.name %> isn't currently borrowing anything.</p>
<% end %>
