<h1> Add to items </h1>

<%= form_for @item do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %>
  </p>
<p>
  <%= f.text_area :description, "width" => 200, "rows" => 10 %>
</p>
<p>
  <%= f.label :image, "Image URL" %>
</p>
<p>
  <%= f.text_area :image %>
  </p>
<p>
  <%= f.submit "Add to items" %>
</p>
<% end %>
