<h1> <%= @item.name.capitalize %> </h1>
<img class = "image" img src= "<%= @item.image %>">

<% if @item.user_id  %>
<h2>Belongs To: <%= link_to @item.user.name, user_path(@item.user) %> </h2>
<% else %>
<h2>Belongs To: Deleted User </h2>
<% end %>


<p><%= @item.description %> </p>


<% if @item.current_loan %>
    <p>Item currently loaned out to: <%= link_to @loan.borrower.name.capitalize, user_path(@loan)%>. </p>
    </p>Expected duedate: <%= @loan.duedate %>. </p>

    <% if @loan.borrower == @current_user %>
        <%= button_to "Return Item", loan_path(@loan), method: :patch %>
    <% end %>
    <% elsif @item.user_id == nil %>
      <p> You can no longer borrow this item </p>
      <% elsif @item.user == @current_user %>
      <p>You own this item.</p>
  <% else %>
      <%= form_for @loan do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.label :duedate %>
          <%= f.date_field :duedate, min: Date.today.in_time_zone %>
          <%= f.submit %>
      <% end %>
  <% end %>

<!-- item history, current loans, picture if implemented >
