<h2> <%= @item.name %> </h1>
<%= render '/shared/messages' %>
<img class = "image" img src= "<%= @item.image %>">

<h3>Belongs To: <%= link_to @item.user.name, user_path(@item.user) %> </h2>

<p><%= @item.description %> </p>

<% if @item.current_loan %>
    <p>
        Item currently loaned out to: <%= link_to @loan.borrower.name, user_path(@loan.borrower)%>
        <br>
        Expected duedate: <%= @loan.duedate %> 
    </p>

    <% if @loan.borrower == @current_user %>
        <%= button_to "Return Item", loan_path(@loan), method: :patch %>
    <% end %>
    <% elsif @item.user_id == nil %>
      <p> You can no longer borrow this item </p>
      <% elsif @item.user == @current_user %>
      <p>You own this item.</p>
  <% else %>
      <%= form_for @loan do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.label :duedate, "Date you'll return item:" %>
          <%= f.date_field :duedate, min: Date.today.in_time_zone %>
          <%= f.submit "Borrow Item" %>
      <% end %>
  <% end %>


