<!DOCTYPE html>
<html>
  <head>
    <title>LoanersLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if is_logged_in? %>
      <%= link_to "Homepage", user_homepage_path(session[:user_id]) %>
      <%= link_to "Log Out", logout_path, method: :delete %>
      <%= link_to "Items", items_path, method: :get %>
    <% end %>
    <%= yield %>
  </body>
</html>
