<!DOCTYPE html>
<html>
  <head>
    <title>Loaner's Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id = "body">
    <h1 id = "logo"> Loaner's Library </h1> 

    <% if is_logged_in? %>
      <nav id = "navbar">
        <%= link_to "Homepage", user_homepage_path%>
        ---
        <%= link_to "Item List", items_path, method: :get %>
        ---
        <%= link_to "Log Out", logout_path, method: :delete %>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
